body {
  background-color: #ffffff;
  background-image: radial-gradient(#4caf50 0.9px, #000000 0.9px);
  background-size: 18px 18px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
#image-container {
  position: fixed;
  height: 80px;
  width: 80px;
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#gitImage {
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-color: #b40000;
  border-radius: 50%;
  width: 50%;
  padding: 10px;
}
#gitImage:hover {
  padding: 20px;
  background-color: #4caf50;
}

#main-div {
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
  margin-left: 10%;
  margin-right: 10%;
}
#description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  padding-top: 3%;
  padding-left: 20%;
  padding-right: 20%;
  font-size: 16px;
}
#main-container {
  display: flex;
  justify-content: center;
  gap: 10%;
}
#encoder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
#decoder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

#heading {
  text-align: center;
}

#submit1 {
  background-color: rgb(180, 0, 0);
}
#submit1:hover {
  background-color: rgb(211, 0, 0);
}
